{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="form-group" style="width: 50%; margin: auto;">
        <h2>Sign in:</h2>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('_login_check') }}" method="post">
            <label for="username" class="sr-only">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Username" required autofocus/>
            
            <br>

            <label for="password" class="sr-only">Password:</label>
            <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required/>

            <br>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
        </form>
    </div>
{% endblock %}